*, *::before, *::after {
  box-sizing: border-box;
}

/* ProximaNova-Regular */
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ProximaNova-Regular.eot");
  /* IE9 Compat Modes */
  src: local("Proxima Nova"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#MerriweatherSans") format("svg");
}

body {
  font-family: "Proxima Nova", serif;
}

.first__section {
  background: url("../img/bg_first.jpg") no-repeat center;
  background-size: cover;
  height: 750px;
  color: white;
}

.header {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.header__menu {
  padding-top: 40px;
}

.header__menu-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.header__menu-item {
  padding-right: 35px;
  transition: .2s;
  &:last-child {
    padding-right: 0;
  }
  &:hover {
    margin-top: -4px;
  }
}

.header__menu-link {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.first__body-h1 {
  font-size: 88px;
  line-height: 1;
}

.first__body-tit {
  font-size: 33px;
}

.first__section-content {
  height: 100%;
  position: relative;
}

.first__body {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.whu__section {
  position: relative;
}

.whu__body {
  padding-top: 250px;
  padding-bottom: 170px;
}

.content__h2 {
  font-size: 48px;
}

.whu__body-text {
  line-height: 1.8;
  font-size: 20px;
}

.whu__img {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 50px;
  max-width: 620px;
  img {
    width: 100%;
  }
}

.our__section {
  position: relative;
}

.our__content {
  display: flex;
  justify-content: flex-end;
}

.our__img {
  position: absolute;
  left: 0;
  top: 0;
  img{
    max-width: 100%;
  }
}

.our__body {
  padding-top: 175px;
}

.our__list {
  display: flex;
  padding-left: 0;
  list-style-type: none;
  color: #794a79;
}

.our__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    max-width: 100%;
  }
}

.our__item-tit {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 28px;
}

.our__item-sub {
  font-size: 20px;
  text-transform: uppercase;
}

.our__body-text {
  font-size: 20px;
  line-height: 1.8;
}

.header__burger {
  transition: .25s ease-in-out;
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 1200px) {
  .header__menu-list {
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .header__menu-list.open {
    padding-top: 40px;
    transition: .25s;
    opacity: 1;
    visibility: visible;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    flex-direction: column;
    background: rgba(black, .8);
    z-index: 9;
    text-align: center;
    .header__menu-item {
      font-size: 25px;
      margin-bottom: 20px;
      padding-right: 0;
      &:hover {
        margin-top: 0;
      }
    }
  }
;
  .header__burger {
    z-index: 10;
    visibility: visible;
    opacity: 1;
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    background: rgba(255, 255, 255, .4);
    border-radius: 5px;
    &:hover {
      background: rgba(255, 255, 255, .8);
    }
    #hamburger {
      position: absolute;
      height: 100%;
      width: 100%;
      span {
        transition: .25s ease-in-out;
        width: 60px;
        height: 4px;
        position: relative;
        top: 24px;
        left: 20px;
        margin: 10px 0;
        display: block;
        background: #566973;
        border-radius: 2px;
        &:nth-child(1) {
          transition-delay: .5s;
        }
        &:nth-child(2) {
          transition-delay: .625s;
        }
        &:nth-child(3) {
          transition-delay: .75s;
        }
      }
    }
    #cross {
      position: absolute;
      height: 100%;
      width: 100%;
      transform: rotate(45deg);
      span {
        transition: .25s ease-in-out;
        display: block;
        background: #566973;
        border-radius: 2px;
        &:nth-child(1) {
          height: 0%;
          width: 4px;
          position: absolute;
          top: 10%;
          left: 48px;
          transition-delay: 0s;
        }
        &:nth-child(2) {
          width: 0%;
          height: 4px;
          position: absolute;
          left: 10%;
          top: 48px;
          transition-delay: .25s;
        }
      }
    }
  }

  #menu-toggle.open {
    #hamburger {
      span {
        width: 0%;
        &:nth-child(1) {
          transition-delay: 0s;
        }
        &:nth-child(2) {
          transition-delay: .125s;
        }
        &:nth-child(3) {
          transition-delay: .25s;
        }
      }
    }
    #cross {
      span {
        &:nth-child(1) {
          height: 80%;
          transition-delay: .625s;
        }
      }
      span {
        &:nth-child(2) {
          width: 80%;
          transition-delay: .375s;
        }
      }
    }
  }

}

@media screen and (max-width: 800px) {
  .whu__body, .our__body{
    padding: 70px 0;
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }
  .whu__img{
    float: right;
  }
  .whu__img, .our__img {
    position: relative;
    margin-top: 0;
  }
  .our__item{
    width: 50%;
  }
}

@media screen and (min-width: 800px ) and (max-width: 1200px) {
  .whu__body ,.our__body{
    padding: 70px 0;
  }
  .whu__img, .our__img {
    width: 400px;
  }
}
@media screen and (max-width: 575px) {
  .first__body{
    padding-left: 20px;
  }
  .first__body-h1{
    font-size: 65px;
  }
  .first__body-tit{
    font-size: 25px;
  }
}
@media screen and (max-width: 330px) {
  .our__item-tit{
    font-size: 25px;
  }
  .our__item-sub{
    font-size: 16px;
  }
}